<div class="splash">
  <h1>the place for your photos</h1>
  <section class="login-form">
    <% if flash.now[:errors] %>
      <p class="error"><%= flash.now[:errors] %></p>
    <% end %>

    <form id="login" action="<%= session_url %>" method="post">
      <%= csrf_token %>

      <input class="login-input" type="text" name="user[username]"
          value="<%= @user.username %>" placeholder="Username" id="name">
      <input class="login-input" type="password" name="user[password]"
          placeholder="Password" id="password">

      <button class="login-button">Sign In</button>

    	<a href="<%= new_user_url %>" class="new-user">Create Account</a>

      <button id="guest" class="login-button">Sign In as Guest</button>

    </form>
    <form class="twitter-button" action="/auth/twitter" method="get">
      <button></button>
    </form>
  </section>
</div>

<script>
  $(function() {
    $('#guest').on('click', function (event){
      event.preventDefault();
      $('#name').val('guest');
      $('#password').val('password');
      $('#login').submit();
    });
  });

</script>
