<% if (errors) { %>
	<ul class="errors">
	<% _.each(errors, function(error){ %>
		<li> <%= error %> </li>
	<% }); %>
	<ul>
<% } %>


<label>Title:
	<input type="text" name="title" value="<%= photo.escape('title') %>">
</label>
<br>
<label>Photo:
	<input type="file" name="img" id="input-img-file">
</label>
<br>
<label>Description:
	<textarea name="description" rows="8" cols="40"></textarea>
</label>
<br>
<label>Album:
	<select name="album_id">
		<option value="">none</option>
		<% albums.each(function(album){ %>
			<option value="<%= album.id %>"><%= album.escape('title') %></option>
		<% }); %>
		<option value="new-album">New Album</option>
	</select>
</label>
<br>
<label>Tags:
	<input type="text" name="tags" value="<%= photo.escape('tags') %>"
		placeholder="separated by commas">
</label>
<br>
<button>Submit</button>

<img src="" id="preview" class="hidden">
<div class="upload-spinner hidden"></div>
