<div class="splash2">
  <section class="login-form">
    <h2>New User</h2>

    <% if @user.errors %>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
      </ul>
    <% end %>


    <form action="<%= users_url %>" method="post">
      <%= csrf_token %>

      <input class="login-input" type="text" name="user[username]" value="<%= @user.username %>" placeholder="username">
      <input class="login-input" type="text" name="user[email]" value="<%= @user.email %>" placeholder="email">

      <% if @user.provider.nil? %>
        <input class="login-input" type="password" name="user[password]" placeholder="password">
        <input class="login-input" type="password" name="user[password_confirmation]" placeholder="confirm password">
      <% else %>
        <input type="hidden" name="user[password]" value="<%= @user.password %>">
        <input type="hidden" name="user[provider]" value="<%= @user.provider %>">
        <input type="hidden" name="user[uid]" value="<%= @user.uid %>">
      <% end %>

      <button class="login-button">Submit</button>
    </form>
  </section>
</div>
