<!DOCTYPE html>
<html>
<head>
  <title>Pixr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header group">
  <nav class="header-nav">
    <h1 class="header-logo"><a href="#">
      <%= logo %>
      pixr</a></h1>

    <div class="header-buttons">
      <% if signed_in? %>
        <label class="username"><%= current_user.username %></label>
        <%= signout_button %>
      <% end %>
    </div>
  </nav>
</header>

<%= yield %>
</body>
</html>
