<!DOCTYPE html>
<html>
<head>
  <title>Pixr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<header class="fixed-header">
  <div class="header group">
    <nav class="header-nav">
      <h1 class="header-logo"><a href="<%= home_url %>">
        <%= logo %>
        pixr</a></h1>

      <div class="header-buttons">
        <% if signed_in? %>
          <label class="username"><%= current_user.username %></label>
          <%= signout_button %>
        <% end %>
      </div>
    </nav>
  </div>

  <% if signed_in? %>
    <div class="sub-header group">
      <nav class="sub-header-nav">
        <a href="#">Photos</a>
        <a href="#/albums">Albums</a>
        <a href="#/photos/liked">Favorites</a>
        <a href="#/photos/followed">Following</a>
        <a href="#/users">Users</a>
        <a href="#/photos/new">Upload</a>
      </nav>
    </div>
  <% end %>
</header>

<%= yield %>

<%= google_tracker %>
</body>
</html>
