<!DOCTYPE html>
<html>
<head>
  <title>Pixr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header class="header group">
  <nav class="header-nav">
    <h1 class="header-logo"><a href="#">pixr</a></h1>

    <%= signout_button %>
  </nav>
</header>

<%= yield %>

</body>
</html>
